body {
    margin: 3px;
    font-family: IRANSansMobileFaNum, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face{font-family:"IRANSansMobileFaNum";src:url("../fonts/IRANSans(FaNum).ttf")}


.faq-heading{
    font-size: 17px;
    border-bottom: #777;
    padding: 20px 60px;
    text-align: center;
    background-color: #ababab;
    color: white;
}
.faq-parswp{
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
}
.hr-line{
  width: 90%;
  margin: auto;


}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 3px 3px;
    width: 90%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 3px;
   font-size: 13px;
   text-align: right;
}
.faq-body{
    font-size: 13px;
    margin: auto;
    text-align: right;
    width: 90%;
    padding: auto;

}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #E1F1FD;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 2px;
    background-color: white;
    display: none;
    overflow: hidden;
    text-align: right;
}
.faq-page:after {
    /*content: '\02795';*/
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #e7ffe3;
    float: right;
    margin-left: 3px;
    padding: auto;


}
.active:after {
   /* content: "\2796";*/
    /* Unicode character for "minus" sign (-) */
   padding: auto;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #ababab;
  color: white;
  margin-top: 10px;
}
